@model ATM.Models.Classes.KiraTakip
@{
    Layout = "~/Views/Shared/_LayoutKira.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link href="~/Files/assets/css/kiratakipcss/stylee.css" rel="stylesheet" />

    <link href="~/Files/assets/css/kiratakipcss/owl.carousel.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->

    <link href="~/Deneme/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Style -->
    <link href="~/Files/assets/css/kiratakipcss/style.css" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <div class="mb-4">
                      
                        <span class=" col-lg-2">Ocak Ayı</span>
                        <label class="custom-control ios-switch">
                            <span class="ios-switch-control-description">Ödenmedi</span>
                            <input type="checkbox" class="ios-switch-control-input" value="">
                            <span class="ios-switch-control-indicator"></span>
                            <span class="ios-switch-control-description">Ödendi</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Deneme/js/jquery.min.js"></script>
    <script src="~/Files/assets/js/core/popper.min.js"></script>
    <script src="~/Deneme/js/bootstrap.min.js"></script>
    <script src="~/Deneme/js/main.js"></script>
</body>
</html>
